data/
predictions/
runs/
venv/
__pycache__/
data.ipynb
*.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.csv
*.json
*.txt
*.log
*.md
*.rst
*.yml
*.yaml
*.jsonl
*.jsonl.gz
*.pth
*.pt
*.pkl
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma
*.pth.tar.lzma.gz
*.pth.tar.lzma.bz2
*.log